# Загрузчик установленной AIsktagOS
GRUB_DISTRIBUTOR="AIsktagOS"
GRUB_TIMEOUT_STYLE=menu
GRUB_TIMEOUT=5
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"
# Показывать Windows и другие системы в меню (двойная загрузка)
GRUB_DISABLE_OS_PROBER=false
GRUB_GFXMODE=auto
