[Desktop Entry]
Name=AIsktagOS
Comment=Тёмная тема окон с кнопками-«светофором»
X-KDE-PluginInfo-Author=AIsktagOS
X-KDE-PluginInfo-Name=AIsktagOS
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-2.0-or-later
X-KDE-PluginInfo-EnabledByDefault=true
