[Desktop Entry]
Type=Application
Version=1.0
Name=Установить DuoOS
Name[en]=Install DuoOS
GenericName=Установка системы
GenericName[en]=System Installer
Comment=Установить DuoOS на этот компьютер
Comment[en]=Install DuoOS on this computer
Exec=/usr/bin/duo-install
Icon=duoos-install
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;install;установка;
