[Desktop Entry]
Name=DuoOS
Comment=Тёмная тема окон с кнопками-«светофором»
X-KDE-PluginInfo-Author=DuoOS
X-KDE-PluginInfo-Name=DuoOS
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-2.0-or-later
X-KDE-PluginInfo-EnabledByDefault=true
