# Меню загрузки @OS_NAME@ @OS_VERSION@ (USB / DVD / виртуальная машина)
search --no-floppy --set=root --file /@OS_ID@
set prefix=($root)/boot/grub

set default=0
set timeout=10
set timeout_style=menu

loadfont unicode
if [ "$grub_platform" = "efi" ]; then
    insmod all_video
else
    insmod vbe
    insmod vga
fi
insmod gfxterm
insmod png
set gfxmode=1920x1080,1600x900,1366x768,1280x800,1024x768,auto
set gfxpayload=keep
terminal_output gfxterm
set theme=$prefix/themes/duoos/theme.txt

set menu_color_normal=light-gray/black
set menu_color_highlight=white/dark-gray

menuentry "Установить @OS_NAME@" {
    linux /casper/vmlinuz boot=casper duoos.install locale=ru_RU.UTF-8 quiet splash ---
    initrd /casper/initrd
}
menuentry "Попробовать @OS_NAME@ без установки" {
    linux /casper/vmlinuz boot=casper locale=ru_RU.UTF-8 quiet splash ---
    initrd /casper/initrd
}
menuentry "Install @OS_NAME@ (English)" {
    linux /casper/vmlinuz boot=casper duoos.install locale=en_US.UTF-8 quiet splash ---
    initrd /casper/initrd
}
submenu "Дополнительно…" {
    menuentry "Безопасная графика (если чёрный экран / старая видеокарта)" {
        linux /casper/vmlinuz boot=casper duoos.install locale=ru_RU.UTF-8 nomodeset ---
        initrd /casper/initrd
    }
    menuentry "Загрузка с подробным журналом (для диагностики)" {
        linux /casper/vmlinuz boot=casper locale=ru_RU.UTF-8 debug systemd.show_status=1 ---
        initrd /casper/initrd
    }
    menuentry "Проверить целостность USB-носителя" {
        linux /casper/vmlinuz boot=casper integrity-check locale=ru_RU.UTF-8 quiet splash ---
        initrd /casper/initrd
    }
    if [ "$grub_platform" = "efi" ]; then
        menuentry "Настройки UEFI (BIOS)" {
            fwsetup
        }
    fi
}
menuentry "Перезагрузить" {
    reboot
}
menuentry "Выключить" {
    halt
}
